@import url("./styles.css");

.background{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
}

.texto-posicao{
    position: absolute;
    top: 35%;
}
.fundo-texto{
    background-color: #f5f5f554;
    margin: 0;
    padding: 1rem 0;
}

@media screen and (min-width: 480px){
    .background{
        height: 30vh;
    }
}

@media screen and (min-width: 720px){
    .background{
        height: 65vh;
    }
}

@media screen and (min-width: 1024px){
    .background{
        height: 88vh;
    }
}