@import url("./styles.css");

.modal-size{
    width: 90vw;
    height: 90vh;
}

.modal-dialog{
    --bs-modal-width:90vw
}

@media screen and (min-width: 568px){
    .modal-dialog{
        --bs-modal-width:500px
    }
}

@media screen and (min-width: 720px){
    .modal-dialog{
        --bs-modal-width:700px
    }
}

@media screen and (min-width: 1024px){
    .modal-dialog{
        --bs-modal-width:800px
    }
}
@media screen and (min-width: 1400px){
    .modal-dialog{
        --bs-modal-width:1000px
    }
}

.buttons{
    width: 50%;
    padding: .6rem 0;
    border-radius: 8rem;
    border: none;
}

.compra{
    background-color: var(--clr-azul-principal);
    color: #f5f5f5;
}
.compra:hover{
    background-color: var(--clr-azul-terciario);
    color: #f5f5f5;
}
.compra:active{
    background-color: var(--clr-azul-secundario);
    color: #f5f5f5;
}

.cancela{
    background-color: #f5f5f5;
    color: black;
}
.cancela:hover{
    background-color: #c5c5c5;
}
.cancela:active{
    background-color: #5c5c5c;
}


.modal-part{
    width: 50%;
}

@media screen and (max-width: 1024px){
    .modal-part{
        width: 100%;
    }   
}