@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --clr-azul-principal: #031633;
    --clr-azul-secundario: #032961;
    --clr-azul-terciario: #084095;
    --clr-branco: #f5f5f5;
    --borda-planos: linear-gradient(to top, var(--clr-branco), #f5f5f513, var(--clr-azul-principal));

    --fnt-title: "Poppins", sans-serif;
    --fnt-text: "Lusitana", serif;
}


body{
    background-color: var(--clr-branco);
    --bs-body-font-family: var(--fnt-text);
    --bs-body-font-size: 0.8rem;
    --bs-body-font-weight: 400;
}

.titulo-principal{
    font-family: var(--fnt-title);
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-azul-principal);
}
.titulo-secundario{
    font-family: var(--fnt-title);
    font-size: 1.5rem;
    font-weight: 500;
}
.titulo-terciario{
    font-family: var(--fnt-title);
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (min-width: 450){
    .titulo-principal{
        font-family: var(--fnt-title);
        font-size: 2.2rem;
        font-weight: 700;
        color: var(--clr-azul-principal);
    }
    .titulo-secundario{
        font-family: var(--fnt-title);
        font-size: 1.7rem;
        font-weight: 500;
    }
    .titulo-terciario{
        font-family: var(--fnt-title);
        font-size: 1.2rem;
        font-weight: 500;
    }  
    body{
        --bs-body-font-size: 0.9rem;
    }
}
@media screen and (min-width: 900){
    .titulo-principal{
        font-family: var(--fnt-title);
        font-size: 2.3rem;
        font-weight: 700;
        color: var(--clr-azul-principal);
    }
    .titulo-secundario{
        font-family: var(--fnt-title);
        font-size: 1.8rem;
        font-weight: 500;
    }
    .titulo-terciario{
        font-family: var(--fnt-title);
        font-size: 1.3rem;
        font-weight: 500;
    }   
    body{
        --bs-body-font-size: 1rem;
    }
}
@media screen and (min-width: 1000){
    .titulo-principal{
        font-family: var(--fnt-title);
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--clr-azul-principal);
    }
    .titulo-secundario{
        font-family: var(--fnt-title);
        font-size: 2rem;
        font-weight: 500;
    }
    .titulo-terciario{
        font-family: var(--fnt-title);
        font-size: 1.5rem;
        font-weight: 500;
    }    
    body{
        --bs-body-font-size: 1rem;
    }
}


.branco{
    color: var(--clr-branco);
}
.azul-primario{
    background-color: var(--clr-azul-principal);
}
.azul{
    color: var(--clr-azul-principal);
}


.botao-main{
    background-color: var(--clr-azul-secundario);
    color: var(--clr-branco);
    border-radius: 2rem;
    padding: 1rem 1.7rem 1rem 1.7rem;
    border: none
}
.botao-main:hover{
    background-color: var(--clr-azul-terciario);
}
.botao-main:active{
    background-color: var(--clr-azul-principal);
}





@media screen and (max-width: 768px){
    
}